In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [48]:
df = pd.read_csv("iris.csv")

In [49]:
df.drop("Id", axis = 1, inplace = True)

In [50]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [52]:
X = df.drop(["Species" ], axis = 1)
y = df["Species"]

In [53]:
y.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

# One hot encoding

In [54]:
one_hot = pd.get_dummies(df["Species"], prefix = "is")
data = pd.concat([df, one_hot], axis = 1)
data = data.drop("Species", axis = 1)

In [55]:
data

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,is_Iris-setosa,is_Iris-versicolor,is_Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [56]:
X = data.drop(["is_Iris-setosa", "is_Iris-versicolor", "is_Iris-virginica"], axis = 1)
y_versicolor = data['is_Iris-versicolor']
y_setosa = data['is_Iris-setosa']
y_virginica = data['is_Iris-virginica']

In [57]:
X_train, X_test, y_versicolor_train, y_versicolor_test = train_test_split(X, y_versicolor, test_size=0.2, random_state=42)
_, _, y_setosa_train, y_setosa_test = train_test_split(X, y_setosa, test_size=0.2, random_state=42)
_, _, y_virginica_train, y_virginica_test = train_test_split(X, y_virginica, test_size=0.2, random_state=42)

# Train Logistic Regression (Built-In)

model_versicolor = LogisticRegression()
model_setosa = LogisticRegression()
model_virginica = LogisticRegression()

model_versicolor.fit(X_train, y_versicolor_train) 
model_setosa.fit(X_train, y_setosa_train) 
model_virginica.fit(X_train, y_virginica_train)

y_versicolor_pred = model_versicolor.predict(X_test)
y_setosa_pred = model_setosa.predict(X_test)
y_virginica_pred = model_virginica.predict(X_test)

def evaluate_model(y_true, y_pred, class_name):
    print(f"Evaluation Metrics for {class_name}:")
    print(f"Accuracy: {accuracy_score(y_true, y_pred):.2f}")
    print(f"Precision: {precision_score(y_true, y_pred):.2f}")
    print(f"Recall: {recall_score(y_true, y_pred):.2f}")
    print(f"F1-Score: {f1_score(y_true, y_pred):.2f}")
    print("-" * 30)

evaluate_model(y_versicolor_test, y_versicolor_pred, "Versicolor")
evaluate_model(y_setosa_test, y_setosa_pred, "Setosa")
evaluate_model(y_virginica_test, y_virginica_pred, "Virginica")

probs_versicolor = model_versicolor.predict_proba(X_test)[:, 1]
probs_setosa = model_setosa.predict_proba(X_test)[:, 1]
probs_virginica = model_virginica.predict_proba(X_test)[:, 1]

combined_probs = pd.DataFrame({
    'versicolor': probs_versicolor,
    'setosa': probs_setosa,
    'virginica': probs_virginica
})

multi_class_predictions = combined_probs.idxmax(axis=1)

print("\nMulti-class Predictions:")
print(multi_class_predictions.head())

# Manual Built of Logistic Model

# Standardize

In [58]:
standardise = StandardScaler()

X_train = X_train.copy()

X_train.loc[:,:] = standardise.fit_transform(X_train)

In [59]:
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
22       -1.473937      1.220379      -1.563987     -1.309484
15       -0.133071      3.020017      -1.277280     -1.042922
65        1.085898      0.095606       0.385621      0.289886
11       -1.230143      0.770470      -1.219939     -1.309484
42       -1.717731      0.320560      -1.391963     -1.309484
..             ...           ...            ...           ...
71        0.354517     -0.579258       0.156255      0.156605
106      -1.108246     -1.254122       0.442962      0.689728
14       -0.011174      2.120198      -1.449304     -1.309484
92       -0.011174     -1.029168       0.156255      0.023324
102       1.573486     -0.129349       1.245742      1.222851

[120 rows x 4 columns]

In [60]:
X_train["bias"] = 1
theta = np.zeros(X_train.shape[1])

In [61]:
X_train.shape[1]

5

In [62]:
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  bias
22       -1.473937      1.220379      -1.563987     -1.309484     1
15       -0.133071      3.020017      -1.277280     -1.042922     1
65        1.085898      0.095606       0.385621      0.289886     1
11       -1.230143      0.770470      -1.219939     -1.309484     1
42       -1.717731      0.320560      -1.391963     -1.309484     1
..             ...           ...            ...           ...   ...
71        0.354517     -0.579258       0.156255      0.156605     1
106      -1.108246     -1.254122       0.442962      0.689728     1
14       -0.011174      2.120198      -1.449304     -1.309484     1
92       -0.011174     -1.029168       0.156255      0.023324     1
102       1.573486     -0.129349       1.245742      1.222851     1

[120 rows x 5 columns]

In [22]:
theta

array([0., 0., 0., 0., 0.])

# Defining Hypothesis(Sigmoid Function)

In [63]:
z = np.dot(X_train, theta)
h_x = 1/(1 + np.exp(-z))

# Cost Function- Binary Cross-Entropy Loss

In [69]:
m = len(X_train)
cost = (-1/m)*np.sum((y_versicolor_train * np.log(h_x)) + (1-y_versicolor_train)* np.log(1 - h_x))

In [65]:
y_versicolor_train

22     0
15     0
65     1
11     0
42     0
      ..
71     1
106    0
14     0
92     1
102    0
Name: is_Iris-versicolor, Length: 120, dtype: uint8

In [67]:
np.log(0.5)

-0.6931471805599453