In [167]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

In [85]:
df = pd.read_csv("iris.csv")

In [86]:
df.drop("Id", axis = 1, inplace = True)

In [87]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [89]:
X = df.drop(["Species" ], axis = 1)
y = df["Species"]

In [90]:
y.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

# One hot encoding

In [91]:
one_hot = pd.get_dummies(df["Species"], prefix = "is")
data = pd.concat([df, one_hot], axis = 1)
data = data.drop("Species", axis = 1)

In [92]:
data

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,is_Iris-setosa,is_Iris-versicolor,is_Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [93]:
X = data.drop(["is_Iris-setosa", "is_Iris-versicolor", "is_Iris-virginica"], axis = 1)
y_versicolor = data['is_Iris-versicolor']
y_setosa = data['is_Iris-setosa']
y_virginica = data['is_Iris-virginica']

In [115]:
X_train, X_test, y_versicolor_train, y_versicolor_test = train_test_split(X, y_versicolor, test_size=0.2, random_state=42)
_, _, y_setosa_train, y_setosa_test = train_test_split(X, y_setosa, test_size=0.2, random_state=42)
_, _, y_virginica_train, y_virginica_test = train_test_split(X, y_virginica, test_size=0.2, random_state=42)

# Building Logistic Regression from scratch

# Standardize

In [117]:
standardise = StandardScaler()

X_train = X_train.copy()

X_train.loc[:,:] = standardise.fit_transform(X_train)

X_test = X_test.copy()
X_test.loc[:,:] = standardise.fit_transform(X_test)

In [96]:
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
22       -1.473937      1.220379      -1.563987     -1.309484
15       -0.133071      3.020017      -1.277280     -1.042922
65        1.085898      0.095606       0.385621      0.289886
11       -1.230143      0.770470      -1.219939     -1.309484
42       -1.717731      0.320560      -1.391963     -1.309484
..             ...           ...            ...           ...
71        0.354517     -0.579258       0.156255      0.156605
106      -1.108246     -1.254122       0.442962      0.689728
14       -0.011174      2.120198      -1.449304     -1.309484
92       -0.011174     -1.029168       0.156255      0.023324
102       1.573486     -0.129349       1.245742      1.222851

[120 rows x 4 columns]

In [97]:
X_train["bias"] = 1
theta = np.zeros(X_train.shape[1])


X_test["bias"] = 1

In [98]:
X_train.shape[1]

5

In [99]:
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  bias
22       -1.473937      1.220379      -1.563987     -1.309484     1
15       -0.133071      3.020017      -1.277280     -1.042922     1
65        1.085898      0.095606       0.385621      0.289886     1
11       -1.230143      0.770470      -1.219939     -1.309484     1
42       -1.717731      0.320560      -1.391963     -1.309484     1
..             ...           ...            ...           ...   ...
71        0.354517     -0.579258       0.156255      0.156605     1
106      -1.108246     -1.254122       0.442962      0.689728     1
14       -0.011174      2.120198      -1.449304     -1.309484     1
92       -0.011174     -1.029168       0.156255      0.023324     1
102       1.573486     -0.129349       1.245742      1.222851     1

[120 rows x 5 columns]

In [100]:
theta

array([0., 0., 0., 0., 0.])

# Defining Hypothesis(Sigmoid Function)

In [101]:
z = np.dot(X_train, theta)
h_x = 1/(1 + np.exp(-z))

# Cost Function- Binary Cross-Entropy Loss

In [102]:
m = len(X_train) 
cost = (-1/m)*np.sum((y_versicolor_train * np.log(h_x)) + (1-y_versicolor_train)* np.log(1 - h_x))

In [103]:
grad = (1/m)*np.dot(X_train.T,(h_x - y_versicolor_train))

# Implementing Gradient Descent

In [123]:
learning_rate = 3000
alpha = 0.01
cost_list = []
learning_list = []
theta = np.zeros(X_train.shape[1])
for i in range(learning_rate):
    z = np.dot(X_train, theta)
    h_x = 1/(1 + np.exp(-z))
    m = len(X_train) 
    cost = (-1/m)*np.sum((y_versicolor_train * np.log(h_x)) + (1-y_versicolor_train)* np.log(1 - h_x)) 
    
    grad = (1/m)*np.dot(X_train.T,(h_x - y_versicolor_train))
    theta -= alpha*grad
    
    learning_list.append(i)
    cost_list.append(cost)

In [120]:
def train_logistic_regression(X, y, alpha = 0.01, learning_rate = 3000):
    theta = np.zeros(X.shape[1])

    for i in range(learning_rate):
        z = np.dot(X, theta)
        h_x = 1/(1+np.exp(-z))
        m = len(X)
        cost = (-1/m)*np.sum((y*np.log(h_x)) + (1 - y)* np.log(1-h_x))

        grad = (1/m)*np.dot(X.T, (h_x - y))
        theta -= alpha* grad 
        
    return theta

y_versicolor_train, y_versicolor_test = train_test_split(X, y_versicolor, test_size=0.2, random_state=42)
_, _, y_setosa_train, y_setosa_test = train_test_split(X, y_setosa, test_size=0.2, random_state=42)
_, _, y_virginica_train, y_virginica_test

In [125]:
theta_versicolor = train_logistic_regression(X_train, y_versicolor_train)
theta_setosa = train_logistic_regression(X_train, y_setosa_train)
theta_virginica = train_logistic_regression(X_train, y_virginica_train)

def predict_logistic_regression(X, theta):
    z = np.dot(X, theta)
    h_x = 1 / (1 + np.exp(-z))
    return h_x

# Predict probabilities for a new sample
def predict_multi_class(X, theta_versicolor, theta_setosa, theta_virginica):
    probs_versicolor = predict_logistic_regression(X, theta_versicolor)
    probs_setosa = predict_logistic_regression(X, theta_setosa)
    probs_virginica = predict_logistic_regression(X, theta_virginica)
    
    # Combine probabilities into a single array
    combined_probs = np.array([probs_versicolor, probs_setosa, probs_virginica]).T
    
    # Choose the class with the highest probability
    predicted_class = np.argmax(combined_probs, axis=1)  # 0: versicolor, 1: setosa, 2: virginica
    return predicted_class

# Prediction Function

In [128]:
def pred_logistic_regression(X, theta):
    z = np.dot(X, theta)
    h_x = 1/(1 + np.exp(-z))
    
    return h_x

# Multi Class Probs

In [155]:
def predict_multiclass_prob(X, theta_versicolor, theta_setosa, theta_virginica):
    
    probs_versicolor = pred_logistic_regression(X, theta_versicolor)
    probs_setosa = pred_logistic_regression(X, theta_setosa)
    probs_virginica = pred_logistic_regression(X, theta_virginica)
    
    #Combining probabilities in a single array 
    
    
    combined_probs = np.array([probs_versicolor, probs_setosa, probs_virginica]).T
    
    predicted_class = np.argmax(combined_probs, axis = 1)
    
    return predicted_class, combined_probs

In [158]:
y_pred_test, com_probs = predict_multiclass_prob(X_test, theta_versicolor, theta_setosa, theta_virginica)

In [159]:
y_pred_test

array([0, 1, 2, 2, 0, 1, 0, 2, 0, 0, 2, 1, 1, 1, 1, 2, 2, 0, 0, 2, 1, 2,
       1, 2, 2, 2, 0, 2, 1, 1])

In [160]:
y_test_true = y_versicolor_test * 0 + y_setosa_test * 1 + y_virginica_test * 2

In [163]:
test_accuracy = accuracy_score(y_test_true, y_pred_test)
print(f"Test Accuracy: {test_accuracy:.2f}")

Test Accuracy: 0.90

In [168]:
print(classification_report(y_test_true, y_pred_test, target_names = ["versicolor", "setosa", "virginica"]))

              precision    recall  f1-score   support

  versicolor       0.88      0.78      0.82         9
      setosa       1.00      1.00      1.00        10
   virginica       0.83      0.91      0.87        11

    accuracy                           0.90        30
   macro avg       0.90      0.90      0.90        30
weighted avg       0.90      0.90      0.90        30